# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# React
build/
dist/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Tailwind CSS
.cache/
public/
